<div class="headline">
  <% if comment.new_record? %>
    <span class="position">New comment as</span>
  <% end %>
  <span class="name">
    <% if comment.user %>
      <%= link_to comment.user.display_name, comment.user %>
    <% else %>
      <%= link_to_unless comment.site_url.blank?, comment.name, fix_url(comment.site_url), :rel => "nofollow" %>
    <% end %>
  </span>
  <% unless comment.created_at.nil? %>
    <span class="created_at">
      <%= time_ago_in_words comment.created_at %> ago
    </span>
  <% end %>
</div>
