<% title "Recent Comments" %>
<% content_tag :head do %>
  <link rel="alternate" type="application/rss+xml" title="Comments RSS" href="http://feeds.feedburner.com/railscasts_comments" />
<% end %>

<div id="comments" class="content">
  <%= render @comments %>
</div>
