<% title "Comments" %>

<div class="content comments">
  <% for comment in @comments %>
    <% render :layout => comment do %>
      <h4>
        Episode #<%= comment.episode.position %>:
        <%= link_to h(comment.episode.name), episode_path(comment.episode) %>
      </h4>
    <% end %>
  <% end %>
</div>
