<% title "Free Ruby on Rails Screencasts", false %>

<div class="episodes">
  <%= render :partial => @episodes %>
</div>

<% if admin? %>
<h1 class="content">Future Episodes</h1>
<div class="episodes">
  <%= render :partial => Episode.unpublished %>
</div>

<div class="content">
  <div class="actions">
    <p><%= link_to 'New Episode', new_episode_path %></p>
  </div>
</div>
<% end %>
