<% title @episode.name, false %>

<div class="episodes">
  <% render :layout => @episode do %>
    <div class="notes">
      <%= textilize @episode.notes %>
    </div>
  <% end %>
</div>

<% unless @episode.comments.empty? %>
  <h3 class="content"><%= pluralize @episode.comments.size, 'comment' %></h3>
  <div class="content comments">
    <%= render :partial => @episode.comments %>
  </div>
<% end %>

<div class="content add_comment">
  <h3>Add your comment:</h3>
  <%= render :partial => 'comments/form' %>
</div>
