<% title "About Railscasts", false %>

<div class="content" id="about">
  <h2>About Railscasts</h2>
  <p>Every week <%= link_to 'Ryan Bates', "http://workingwithrails.com/person/6491-ryan-bates" %> will host a new Railscasts episode featuring tips and tricks with <a href="http://www.rubyonrails.com/">Ruby on Rails</a>. These screencasts are short and focus on one technique so you can quickly move on to applying it to your own project. The topics target the intermediate Rails developer, but beginners and experts will get something out of it as well.</p>
  
  <h2>Software Used</h2>
  <ul>
    <li><a href="http://macromates.com/">TextMate</a> - the best text editor</li>
    <li><a href="http://stephendeken.net/software/keycastr/">KeyCastr</a> - visual keyboard shortcuts</li>
    <li><a href="http://shinywhitebox.com/home/home.html">iShowU</a> - records the screen</li>
    <li><a href="http://www.apple.com/finalcutpro/">Final Cut Pro</a> - for putting it all together</li>
    <li><a href="http://www.adobe.com/products/aftereffects/">Adobe After Effects</a> - the fun intro animation</li>
  </ul>
  
  <h2>TextMate Theme</h2>
  <p>Do you like the TextMate theme used in these screencasts? It is custom made and based off of the theme by <a href="http://fluidsyntax.com/blog/articles/idlefingers-textmate-theme">idlefingers</a>. I am using the <a href="http://www.gnome.org/fonts/">Bitstream Vera Sans Mono</a> font.</p>
  <p><a href="http://media.railscasts.com/resources/textmate_theme.zip">Download Textmate Theme</a></p>
  
  <h2>Contact</h2>
  <p>If you have any comments, suggestions, questions, etc. I'd love to hear them! Please add suggestions to the <%= link_to "Feedback Page", "http://railscasts.uservoice.com" %> or send an email to <script type="text/javascript">document.write(
"<n uers=\"znvygb:srrqonpx\100envyfpnfgf\056pbz\">srrqonpx\100envyfpnfgf\056pbz<\057n>".replace(/[a-zA-Z]/g, function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));
</script>.</p>
  
  <h2>Translation</h2>
  <p>Railscasts episodes are being <a href="http://casts.rubynow.com/">translated into Chinese</a>. If you're interested in translating the episodes into another language please contact me.</p>
  
  <h2>License</h2>
  <p>All Railscasts episodes are under the <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/us/">Creative Commons license</a>. You are free to distribute unedited versions of the episodes for non-commercial purposes. If you would like to edit the episodes please contact me.</p>
  <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/us/88x31.png" /></a></p>
</div>
