<% title "Feeds" %>
<% stylesheet 'feeds' %>

<div class="content">
  <table id="feeds_list">
    <tr>
      <td><strong>Full Quality</strong></td>
      <td><a href="http://feeds.feedburner.com/railscasts">RSS</a></td>
      <td><a href="http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewPodcast?id=218282043">iTunes</a></td>
    </tr>
    <tr>
      <td><strong>For iPod</strong></td>
      <td><a href="http://feeds.feedburner.com/railscasts_ipod">RSS</a></td>
      <td><a href="http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewPodcast?id=253867754">iTunes</a></td>
    </tr>
    <tr>
      <td><strong>Recent Comments</strong></td>
      <td><a href="http://feeds.feedburner.com/railscasts_comments">RSS</a></td>
    </tr>
  </table>
  <p>
    You can also find the comments RSS feed for a given episode by going to that episode and clicking the feed icon next to the comment number.
  </p>
</div>
