<% title "Give Back to Open Source", false %>

<div class="content">
  <%= image_tag "give_back.jpg", :size => "158x60", :id => "give_back" %>
  <p>A lot of effort is put into open source software which is given away for free. In <%= link_to "Episode 200", episode_path(200) %> I am challenging everyone to give back to the open source community.</p>
  <div id="give_back_instructions">
    <p><strong>Here's what I want you to do:</strong></p>
    <ol>
      <li>Look in your biggest Rails project</li>
      <li>Go through every gem and plugin used</li>
      <li>
        Contribute back to each by:
        <ul>
          <li>Making a donation</li>
          <li>Fixing a bug</li>
          <li>Adding documentation</li>
          <li>Or simply thanking them</li>
        </ul>
      </li>
    </ol>
  </div>
  <p>Make a difference and give back to open source!</p>
</div>
